body {
background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/69/IBM_PC_5150.jpg);
background-size: cover;
background-repeat: no-repeat;
;
  
}

p {
  color: gold;
  background-color: black;
}

h1{
  color:red;
}

a {
  font-size:200%;
}